<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Sadhna_Bhakti" >

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/back"
        android:label="@string/app_name"
        android:roundIcon="@drawable/back"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp"
        tools:targetApi="31" >
        <activity
            android:name="com.example.Sadhna_Bhakti.alarm"
            android:exported="false" />
        <activity
            android:name="com.example.Sadhna_Bhakti.index"
            android:exported="false" />
        <activity
            android:name="com.example.Sadhna_Bhakti.wordGenerator"
            android:exported="false" />
        <activity
            android:name="com.example.Sadhna_Bhakti.pdfviewer"
            android:exported="false" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a30"
            android:exported="false" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a29"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a28"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a27"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a26"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a25"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a24"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a23"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a22"
            android:exported="true" />

        <activity
            android:name="com.example.Sadhna_Bhakti.a20"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a19"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a18"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a17"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a16"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a15"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a14"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a13"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a12"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a11"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a10"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a9"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a8"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a7"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a6"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a5"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a4"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a3"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a1"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.a2"
            android:exported="true" />
        <activity
            android:name="com.example.Sadhna_Bhakti.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.Sadhna_Bhakti.AlarmReceiver" />
        <receiver
            android:name="com.example.Sadhna_Bhakti.BootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>
</manifest>